---
name: Pull Request

on:
  pull_request:
  merge_group:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          # Full git history is needed to get a proper list of changed files within 'super-linter'
          fetch-depth: 0

      - name: Lint Code Base
        uses: super-linter/super-linter@v8.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BRANCH: main
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_KOTLIN: true
          VALIDATE_YAML: true
          VALIDATE_XML: true

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          # Full git history is needed to dynamically determine the versionName from tags
          fetch-depth: 0
          fetch-tags: true

      - name: Gradle Wrapper Validation
        uses: gradle/actions/wrapper-validation@v5

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Cache Gradle and wrapper
        uses: actions/cache@v5
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}

      - name: Build Debug APK
        run: ./gradlew clean assembleDebug --no-daemon

      - name: Prepare keystore.properties
        run: ./.github/scripts/prepare-keystore-properties.sh
        env:
          KEYSTORE: ${{ secrets.RELEASE_KEYSTORE }}
          KEYSTORE_ENCRYPTION_PASSPHRASE: ${{ secrets.RELEASE_KEYSTORE_ENCRYPTION_PASSPHRASE }}
          KEYSTORE_STORE_PASSPHRASE: ${{ secrets.RELEASE_KEYSTORE_STORE_PASSPHRASE }}
          KEYSTORE_ALIAS: ${{ secrets.RELEASE_KEYSTORE_ALIAS }}
          KEYSTORE_ALIAS_PASSPHRASE: ${{ secrets.RELEASE_KEYSTORE_ALIAS_PASSPHRASE }}

      - name: Build Release APK
        run: ./gradlew clean assembleRelease --no-daemon

      - name: Upload outputs artifact
        uses: actions/upload-artifact@v6
        with:
          name: outputs
          path: app/build/outputs/
          retention-days: 3
